*{
    margin: 0;
    padding: 0;
}

.Social{

    margin-left: 65%;

}
.Record{
    width: 1000px;

    margin-left: 31%;
}

.footer{
    width: 100%;

}
.navbar{
    width: 100%;
    margin-top: 10px;
    positon: fixed;
}

.heading{
margin-left: 43%;
    margin-bottom: 20px;
    margin-top: 20px;

}

.pages{
    margin-left: -20%;
}

/*************************** TEAM ****************************/

.row {
    margin-left: 75px;
    margin-right: 75px;
}

a.item.padding {
    margin-left: 20px;
    font-size: 25px;
}

.Team{
    margin-left: 12em;
margin-top: 10em;
}

.img{
    margin-top: 50px;
    width: 175px;
    float: left;
    padding-right: 40px;


}
.description{
    margin-right: 50px;
    width: 500px;
    margin-bottom: 40px;
}

.header{
    width: 500px;
}

img.ui.small.image.Logo-Header {
    margin-top: 500px;
}

h1.ui.header.H1 {
    margin-top: 3px;
    margin-left: 44%;
}
img.ui.medium.circular.image {
    margin-left: 25px;
}
.map{
    float: none;
}

form.ui.form {
    margin-top: 45%;
    width: 50%;
    margin-left: 23%;
}

h1.ui.header.H2 {
    margin-top: 30px;
    margin-left: 44%;
}

button#form-button-control-public {
    margin-left: 42%;
}

.Location{
    margin-left: 25%;
}
h1.ui.header.H3 {
    margin-top: -3em;
    margin-left: 31%;
}

/*.ui.inverted.header {*/
    /*color: #fff;*/
    /*margin-left: 17%;*/
/*}*/
.ui.huge.header.Service {
    margin-left: 43%;
    font-size: 53px;
    font-family: "Helvetica";
}

img.ui.large.centered.image.Logo-Header {
    margin-top: 70px;
    padding-bottom: 20px;
}

.contactus{
    margin-top: 10em;
    margin-left: 3em;
}

h3.ui.header.H2 {
    margin-left: 44%;
}
.ui.header.Server {
     margin-left: 45%;
 }
.ui.header.Servers {
    margin-left: 44%;
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.wrapper{
    width: 100%;
}

.ServicePics{
    Height: 200px;
}

.show{
    margin-left: 400px;
}

.description{
    width: 100%;
}

.card-img-top {
    width: 75%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin: auto;
}


